<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNGReport" preserve-order="false">
<!--    <parameter name="environment"  value="qa"/>-->
    <test name="WebAppTests">
        <classes>
            <class name="com.google.testRunners.TestRunner"></class>
        </classes>
    </test>
</suite>